:root {
    --color-dark: black;
    --color-light: white;
    --color-light-hover: rgb(227, 227, 227);
    --color-primary-1: #ff2f86;
    --color-primary-2: #2a9be2;
    --color-secondary-1: #d9223a;
    --color-secondary-2: #ffee56;

    --title-1: "Rubik Mono One", monospace;
    --title-2: "Merriweather Sans", sans-serif;
    --text: "Roboto", sans-serif;

    --container-width-1: 75rem;
    --container-width-2: 70rem;
    --nav-width: 87rem;
    --hero-ul-width: 50rem;
}

body, html {
    margin: 0;
}

img {
    max-width: 100%;
}

.site-head-1,
.site-head-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    place-content: center;
}

.site-head-1 {
    color: var(--color-light);
    background-color: var(--color-dark);

    font-size: 1rem;
    font-family: var(--title-2);

    padding: 1rem;
}

.site-head-2 {
    color: var(--color-light);
    background-color: var(--color-primary-1);

    list-style: none;

    font-size: 2rem;
    font-family: var(--title-1);

    padding: 1rem;

    align-items: center;
    place-content: center;
    


}

.site-head-3 {
    color: var(--color-secondary-2);
    background-color: var(--color-secondary-1);

    font-size: 1.5rem;
    font-family: var(--title-2);

    padding: 0.3rem;
}

.site-head-1 a,
.site-head-2 a,
.site-head-3 a {
    color: inherit;
    text-decoration: none;
}

.site-head-1 a:hover,
.site-head-2 a:hover {
    color: var(--color-light-hover);
}



.nav-list {
    list-style: none;
    text-align: center;

    --gap: 0.5rem;
    --min: 10ch;
    
    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));

    padding: 0;
    margin: 0;
}

.nav-button {
    margin-top: 1.8rem;
}

.site-head-1-list {
    list-style: none;
    display: flex;
    gap: 1rem;

    padding: 0;
    margin: 0;
}

.hero {
    color: var(--color-light);

    list-style: none;

    padding: 1rem;

    align-items: center;
    place-content: center;
    
}

.hero-list {
    list-style: none;
    

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 0;
    margin: 0;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

.site-footer {
    color: var(--color-light);
    background-color: var(--color-dark);

    padding-top: 3rem;
    padding-bottom: 3rem;

    font-family: var(--text);
    font-size: 2rem;
    margin: 0;
}

.site-footer ul{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-footer p {
    margin-top: 3rem;
}

.site-footer a {
    color: inherit;
}

.container-1 {
    width: min(100vw - 3rem, var(--container-width-1));
    margin-inline: auto;
}

.container-2 {
    width: min(100vw - 3rem, var(--container-width-2));
    margin-inline: auto;
    margin-bottom: 2rem;
    
}

.nav {
    width: min(100vw - 3rem, var(--nav-width));
    margin-inline: auto;
}

.hero-ul {    
    width: min(100vw - 3rem, var(--hero-ul-width));
    margin-inline: auto;

    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    column-gap: 2rem;
    justify-content: center;

    padding: 0;
    margin: 0;

    margin-bottom: 2rem;
}

.hero-ul-2 {
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    padding-right: 2rem;
    margin: 0;
}

.hero-img {
    border-radius: 5%;
}

.article {
    background-color: var(--color-primary-2);
    color: var(--color-light);
    margin-bottom: 3rem;
}

.article .div-1 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.article .div-2 {
    list-style: none;
    background-color: var(--color-secondary-2);
    color: var(--color-dark);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}


.article h2 {
    font-size: 1.5rem;
    font-family: var(--title-2);
    color: var(--color-light);
    background-color: var(--color-primary-1);
    padding: 0.5rem;
}

.article h1 {
    font-size: 2rem;
    font-family: var(--title-1);
    margin: 0;
}

.article p {
    font-size: 1.5rem;
    font-family: var(--text);
    margin-top: 1rem;
}